@{
    ViewBag.Title = "About split file uploader";
}
<div class="container">
    <h2>Сайт для загрузки, статистики и переименования файлов</h2>

    <dl>
        <dt>Внимание!</dt>
        <dt>Правила отправки файлов на сервер (Загрузка обработанных фотографий на сервер)</dt>
        <dd>1.Необходимо перед отправкой заархивировать файл.</dd>
        <dd>2.Загрузчик воспринимает только файлы с расширением zip!</dd>
        <dd>Использовать для этого можно любой архиватор, 7-zip, Gzip, Zip.</dd>
        <dd>4.Размер файла рекомендуется не больше 5ГБ.</dd>
        <dd>5.Для загрузки не используйте IE, рекомендуется Chrome FireFox.</dd>
        <dd>6.5.Загрузчик работает только под последние версии браузеров!
        <dd>7.При загрузке файла активируется полоса загрузки,</dd>
        <dd>окончание загрузки свидетельствует когда полоса остановится и будет на всю длинну.</dd>

        <dt>Раздел "Редактор загруженных архивов от подрядчика"</dt>
        <dd>9.Служит для отображения последней загрузки фотографий в раздел "обработанных фотографий",</dd>
        <dd>если после окончания загрузки в каталоге не появилось информации о загруженных файлах повторить загрузку.</dd>

        <dt>Раздел "Переименование файлов"</dt>
        <dd>10.Служит для обработки загруженных архивов и попадения файлов в рабочую директорию.</dd>

        <dt>Раздел "Редактор главной директории"</dt>
        <dd>11.Служит для редактирования рабочей дериктории (переименование и удаление файлов).</dd>

        <dt>Раздел "Обновление базы"</dt>
        <dd>11.Служит для пополнения базы данных "Товаров" из SAP.</dd>
        <dd>Для ежедневного обновления данных по новым товарам, необходимо зайти в данное меню и нажать кнопку "Обновление базы".</dd>
        <dd>В процессе выполнения страницу можно закрыть. Для получения о процессе пополнения можно зайти в данное менюв любое время,</dd>
        <dd>где будет отражена информация о текущем количестве данных, о состоянии пополнения или завершения обновления.</dd>

        <dd>12.В меню "Отчет" содержится файл с именами файлов в рабочем каталоге.</dd>
    </dl>
</div>
