
<div class="row">
    <div class="col-md-6">
        <h3>Загрузка необработанных фотографий</h3>
        <p><a class="btn btn-default" href="/Native/UploadNativeView">Перейти &raquo;</a></p>
        <h3>Загрузка обработанных фотографий на сервер</h3>
        <p><a class="btn btn-default" href="/ForWeb/UploadForWebView">Перейти &raquo;</a></p>
        <h3>Переименование файлов</h3>
        <p><a class="btn btn-default" href="/ExtractArchive/ViewExtractArchive">Перейти &raquo;</a></p>
        <h3>Редактор главной директории</h3>
        <p><a class="btn btn-default" href="/Service/ServiceView">Перейти &raquo;</a></p>
        <h3>Редактор загруженных архивов от подрядчика</h3>
        <p><a class="btn btn-default" href="/ViewForWeb/ForWebGridMethod">Перейти &raquo;</a></p>
    </div>
</div>