    <script>
        var myVar;

        function UpdateProduct() {
            $.ajax({
                url: "UploadProductMuthod",
                type: "POST",
                success: function (response) {
                    if (response.threadStatus = "Running") {
                        $("#status_result").val(response.threadStatus)
                         , x = document.getElementById('status_result')
                         , x.innerHTML = 'Обновление данных ';
                        $("#btnUpdate")
                        , y = document.getElementById('btnUpdate')
                        , y.innerHTML = '<i class = "glyphicon glyphicon-refresh glyphicon-refresh-animate"></i>' + ' Обновление товараов';
                    }
                }
            })
        };

        function StopProcess() {
            $.ajax({
                url: "StopUploadProduct",
                type: "POST"
            })
        };

        function myFunction() {
            myVar = setTimeout(showPage, 0);
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("myDiv").style.display = "block";
        }

        function countProcess() {
            $.ajax({
                url: "countProcess",
                type: "POST",
                success: function (response) {
                    if (response.countRecords != null) {
                        $("#count_result").val(response.countRecords)
                         , x = document.getElementById('count_result')
                         , x.innerHTML = 'Количество товаров ' + response.countRecords;
                    }
                    if (response.threadStatus == "Stopped") {
                        $("#status_result").val(response.threadStatus)
                         , x = document.getElementById('status_result')
                         , x.innerHTML = 'Загрузка завершена ';
                        $("#btnUpdate")
                        , y = document.getElementById('btnUpdate')
                        , y.innerHTML = ' Обновление товараов';
                    }
                    else if (response.threadStatus == "Aborted") {
                        $("#status_result").val(response.threadStatus)
                         , x = document.getElementById('status_result')
                         , x.innerHTML = 'Загрузка приостоновлена ';
                    }
                }
            })
        };

        $(document).ready(
        function () {
            $("#btnUpdate").on("click", UpdateProduct);
            $("#btnStop").on("click", StopProcess);
            setInterval("countProcess()", 1000);
        });
        
    </script>

    <body> 
        <h3 class="text-center">Обновление товара из САП</h3>
        <div class="container">
            <div class="col-md-6 col-md-offset-3" style="text-align:center">
                <div class=" alert alert-warning fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <h3><span class="label label-warning" id="status_result" /></h3>
                    <h3><span class="label label-warning" id="count_result" /></h3>
                </div>
            </div>
        </div>
                <div class="container fill">
                    <br />
                    <div class="row">
                        <div class="col-md-3">
                            <span class="btn btn-info" role="button">
                                <button type="button" id="btnUpdate" class="btn btn-primary">Обновление товараов</button>
                                <button type="button" id="btnStop" class="btn btn-danger">Остановка процесса</button>
                            </span>
                        </div>
                    </div>
                </div>
        <br />
</body>
